<div class="row">
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="../static/img/laura.jpg" alt="">
        <h2>Laura Igual</h2>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/6674455?v=3&s=128" alt="">
        <h2>Daniel Urdas</h2>
        <h2><small><a href = "https://github.com/danielurdas">danielurdas</a></small></h2>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-responsive img-center" src="https://avatars3.githubusercontent.com/u/3974003?v=3&s=128" alt="">
        <h2>Xavi Moreno</h2>
        <h2><small><a href = "https://github.com/xaviml">xaviml</a></small></h2>
    </div>
</div>
