{% extends 'base.html' %}

{% block page_title %}
    About
{% endblock page_title %}
{% block content %}
    <a href="https://github.com/pid-UB/pid-UB"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-circle img-responsive img-center" src="https://avatars0.githubusercontent.com/u/6674455?v=3&s=128" alt="">
            <h2>Dani Urdas</h2>
            <h2><small>danielurdas</small></h2>
        </div>
        <div class="col-sm-6">
            <img class="img-circle img-responsive img-center" src="https://avatars3.githubusercontent.com/u/3974003?v=3&s=128" alt="">
            <h2>Xavi Moreno</h2>
            <h2><small>xaviml</small></h2>
        </div>
    </div>
{% endblock content %}
