{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
  <body>

    {% include "navigation.html" %}

    <div class="container">

      <h1>{% block page_title %}{% endblock page_title %}</h1>

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
