 {{script | safe}}


<div class="row">
    <!-- Alumnes -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div id="{{ plots.donut1.plot_id | safe}}" class="col-12 col-12">
                {{plots.donut1.div | safe}}
            </div>
            <p class="col-12 col-12">The number of students per kind in the <strong>1st year of Computer Engineering</strong>.
                The distribution of each kind of student can be seen
                <a data-toggle="modal" data-target="#perfilsPrimer" href="">here</a>.
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div id="{{ plots.donut2.plot_id | safe}}" class="col-12 col-12">
                {{plots.donut2.div | safe}}
            </div>
            <p class="col-12 col-12">The number of students per kind in the <strong>2nd year of Computer Engineering</strong>.
                The distribution of each kind of student can be seen
                <a data-toggle="modal" data-target="#perfilsSegon" href="">here</a>.
            </p>
        </div>

        <hr class="hr">

        <div id="{{ plots.renounce1.plot_id | safe}}" class="col-12">
            {{plots.renounce1.div | safe}}
        </div>
        <p class="col-12 text-center">Dropout rate per kind of student in the <strong>1st year of Computer Engineering</strong>.</p>

        <hr class="hr">

        <div id="{{ plots.renounce2.plot_id | safe}}" class="col-12">
            {{plots.renounce2.div | safe}}
        </div>
        <p class="col-12 text-center">Dropout rate per kind of student in the <strong>1st year of Math</strong>.</p>
    </div>


</div>


<!-- Modal -->
<div id="perfilsPrimer" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kind of the students in 1st year of Computer Engineering</h4>
            </div>
            <div class="modal-body row">
                <div id="{{ plots.MP1.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.MP1.div | safe}}
                </div>
                <p class="col-10 text-center text-center">
                    Students who are bad in computing programming and are better in math
                </p>
                <hr size="5">

                <div id="{{ plots.BN1.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.BN1.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who tend to have good marks
                </p>
                <hr size="5">

                <div id="{{ plots.S1.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.S1.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who tend to have bad marks
                </p>
                <hr size="5">

                <div id="{{ plots.A1.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.A1.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who tend to have regular marks
                </p>
                <hr size="5">

                <div id="{{ plots.MM1.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.MM1.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who are bad in math and are better in computing programming
                </p>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="perfilsSegon" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kind of the students in 2nd year of Computer Engineering</h4>
            </div>
            <div class="modal-body row">
                <div id="{{ plots.BN2.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.BN2.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who tend to have good marks
                </p>
                <hr size="5">

                <div id="{{ plots.ISF2.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.ISF2.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who have subjects passed, but have dificulty with two subjects
                </p>
                <hr size="5">

                <div id="{{ plots.A2.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.A2.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who tend to have regular marks
                </p>
                <hr size="5">

                <div id="{{ plots.PPIE2.plot_id | safe}}" class="col-sm-12 col-xs-12">
                    {{plots.PPIE2.div | safe}}
                </div>
                <p class="col-10 text-center">
                    Students who have subjects passed, but have dificulty with two subjects
                </p>
            </div>
        </div>

    </div>
</div>

<script>
    $(function() {
        var bokeh_function = function () {
            for (var i = 0; i < Bokeh.Collections('Plot').models.length; i++) {
                var plot = Bokeh.Collections('Plot').at(i);
                plot.set("plot_width", $("#" + plot.id).width());
            }
        };
        Bokeh.$(bokeh_function);
        $('#perfilsPrimer').on('shown.bs.modal', bokeh_function);
        $('#perfilsSegon').on('shown.bs.modal', bokeh_function);
    });
</script>
