{{script | safe}}

<div class="row">
    <!-- Assignatures -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 row">

        <div id="{{ plots.regresion.plot_id | safe}}" class="col-sm-6 col-md-offset-3">
            {{plots.regresion.div | safe}}
        </div>

        <div id="{{ plots.evolucion.plot_id | safe}}" class="col-sm-12">
            {{plots.evolucion.div | safe}}
        </div>
        <br><br>
        <div class="col-sm-12 col-md-offset-1">
        <p>
            Evolution of the average grades for the subjects of the first course of Computer Engineering degree.
        </p>
        <br><br>
        </div>
        <div id="{{ plots.convalidacion.plot_id | safe}}" class="col-sm-6 col-md-offset-3">
            {{plots.convalidacion.div | safe}}
        </div>
        <br><br>
        <p>

        </p>

        <div class="col-sm-12 col-md-offset-3">
            <div class="col-sm-12 col-md-offset-1">
                <br><br><br><br>
            <p>Interactive graph with the relations between subjects</p>
                </div>
            <IFRAME SRC="../static/html/grafica.html" width="100%" height="200px" scrolling="no" id="iframe1" marginheight="0" frameborder="0" onLoad="autoResize('iframe1');"></iframe>
        </div>
        <div class="col-sm-10 col-md-offset-2">
            <br><br>
        <p>Using the above interactive graph we can study the relations that may have between the subjects of the <strong>Computer engineering degree</strong>. We will observe if the grades of the students has <strong>similar distributions</strong> for different subjects or to the contrary, we have <strong>outlier subjects</strong> with different distributions.
        </p>
        </div>
        <br><br>
    </div>
</div>

<script>
    var bokeh_function = function() {
    for(var i=0; i<Bokeh.Collections('Plot').models.length; i++) {
            var plot = Bokeh.Collections('Plot').at(i);
            plot.set("plot_width", $("#" + plot.id).width());
        }
    };
    Bokeh.$(bokeh_function);

    $('#perfilsPrimer').on('shown.bs.modal', bokeh_function);
    $('#perfilsSegon').on('shown.bs.modal', bokeh_function);
</script>