{{script | safe}}

<div class="row">
    <!-- Assignatures -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 row">
        <h2>Assignatures</h2>

        <div id="{{ plots.regresion.plot_id | safe}}" class="col-sm-12">
            {{plots.regresion.div | safe}}
        </div>

        <div id="{{ plots.evolucion.plot_id | safe}}" class="col-sm-12">
            {{plots.evolucion.div | safe}}
        </div>

        <div id="{{ plots.convalidacion.plot_id | safe}}" class="col-sm-12">
            {{plots.convalidacion.div | safe}}
        </div>
        <p></p>

        <div class="col-sm-12">
                {% include "grafica.html" %}
        </div>
        <br><br>
    </div>
</div>

<script>
    var bokeh_function = function() {
    for(var i=0; i<Bokeh.Collections('Plot').models.length; i++) {
            var plot = Bokeh.Collections('Plot').at(i);
            plot.set("plot_width", $("#" + plot.id).width());
        }
    };
    Bokeh.$(bokeh_function);

    $('#perfilsPrimer').on('shown.bs.modal', bokeh_function);
    $('#perfilsSegon').on('shown.bs.modal', bokeh_function);
</script>