<div class="row text-center">
    <!-- Predictive -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div>
                <img class="img-center" src="../static/img/predictive-primer.png" alt="">
            </div>

        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div>
                <img class="img-center" src="../static/img/predictive-primer-i-segon.png" alt="">
            </div>
        </div>
        <br/>
        <div align="justify" class="col-sm-6 col-md-offset-3">
            <p align="justify">In this plots we can see the accuracy error of each predictor in a box plot. We have used this predictors:
                <br/><br/>&bull; <strong>RCxE:</strong> Collaborative filtering by students
                <br/>&bull; <strong>RCxA:</strong> Collaborative filtering by subjects
                <br/>&bull; <strong>RFR:</strong> Random Forest Regressor
                <br/>&bull; <strong>LR:</strong> Linear Regressor
            </p>
            <p align="justify">The plot on the left:
                <br/>&bull; <strong>Training:</strong> Marks of first year of Computer engineering
                <br/>&bull; <strong>Test:</strong> Marks of second year of Computer engineering
            </p>
            <p align="justify">The plot on the right:
                <br/>&bull; <strong>Training:</strong> Marks of first and second year of Computer engineering
                <br/>&bull; <strong>Test:</strong> Marks of third year of Computer engineering
            </p>
        </div>
    </div>


</div>