<div class="row text-center">
    <!-- Predictive -->
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div class="col-12 col-12">
                <img class="img-center" src="../static/img/predictive-primer.png" alt="">
            </div>
            <p align="justify" class="col-12 col-12">
                Explication here
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 row">
            <div id="" class="col-12 col-12">
                <img class="img-center" src="../static/img/predictive-primer-i-segon.png" alt="">
            </div>
            <p align="justify" class="col-12 col-12">
                Explication here
            </p>
        </div>

    </div>


</div>