<div class="row text-center">
    <div class="footer-col col-sm-4">
        <img class="img-circle img-center" src="../static/img/laura.jpg" alt="">
        <h4>Laura Igual</h4>
        <p align="center">Associated Professor Interim</p>
        <p align="center">Department of Mathematics and Computer Science</p>
        <p align="center">University of Barcelona</p>
        <p align="center"><a href="http://www.ub.edu/bcnpcl/ligual/">www.ub.edu/bcnpcl/ligual/</a></p>
        <p align="center">El meu github és: lauraigual</p>
    </div>
    <div class="col-sm-4">
        <img class="img-circle img-center" src="https://avatars0.githubusercontent.com/u/6674455?v=3&s=128" alt="">
        <h4>Daniel Urdas</h4>
        <h5><small><a href = "https://github.com/danielurdas">danielurdas</a></small></h5>
    </div>
    <div class="col-sm-4">
        <img class="img-circle  img-center" src="https://avatars3.githubusercontent.com/u/3974003?v=3&s=128" alt="">
        <h4>Xavi Moreno</h4>
        <h5><small><a href = "https://github.com/xaviml">xaviml</a></small></h5>
    </div>
</div>
